# Python
backend/venv/
__pycache__/
*.pyc
backend/graph/__pycache__/
backend/agents/__pycache__/

# Environment variables
backend/.env
.env

# OS files
.DS_Store

# Node / frontend future files
node_modules/
dist/
build/

# IDE
.vscode/
.idea/